<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2><%= @exception.message %></h2>
    <p>The system behaved in an unexpected manner, or some user made what should not.<br /></p>
    <div style="background:#eee; padding:10px">
      <code><%= @exception.backtrace.join("<br />").html_safe %></code>
    </div>
  </body>
</html>